<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ums.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/HTML/viewCourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>ums.AddCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/JSP/addCourse</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>ums.UpdateCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/JSP/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>ums.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/deleteCourse/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateTimetable</servlet-name>
        <servlet-class>ums.GenerateTimetable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateTimetable</servlet-name>
        <url-pattern>/generateTimetable/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>ums.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ums.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>ums.StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ums.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <context-param>
        <description>Location from get downloaded file</description>
        <param-name>file-download</param-name>
        <param-value>
         C:\Users\Saloni\Desktop\data1\CS532D_2016_SP_Midterm.pdf
     </param-value>
    </context-param>    
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
        C:\Users\Saloni\Desktop\data
     </param-value>
    </context-param>
</web-app>
